
<div
  style="background: url(&quot;assets/img/Whangaehu.svg?h=00dce42fc31141f724b611fb3c6c8747&quot;) center / cover no-repeat;padding: 30px 0px;">
  <div class="container">
    <h1 class="text-capitalize" style="padding: 0px;padding-top: 32px;padding-bottom: 18px;">The Queue Platform ® terms
      and conditions of use</h1>
    <div>
      <h1 id="he" class="he">1. Terms</h1>
      <p>By accessing this Website, accessible from shrey333.github.io, you are agreeing to be bound by these Website
        Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws.
        If you disagree
        with any of these terms, you are prohibited from accessing this site. The materials contained in this Website
        are protected by copyright and trade mark law.</p>
    </div>
    <div>
      <h1 id="he" class="he">2. Use License</h1>
      <p>Permission is granted to temporarily download one copy of the materials on The Queue Platform ®'s Website for
        personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and
        under this license
        you may not:<br></p>
      <ul>
        <li>modify or copy the materials;</li>
        <li>use the materials for any commercial purpose or for any public display;</li>
        <li>attempt to reverse engineer any software contained on The Queue Platform ®'s Website;</li>
        <li>remove any copyright or other proprietary notations from the materials; or</li>
        <li>transferring the materials to another person or "mirror" the materials on any other server.</li>
      </ul>
      <p>This will let The Queue Platform ® to terminate upon violations of any of these restrictions. Upon termination,
        your viewing right will also be terminated and you should destroy any downloaded materials in your possession
        whether it is
        printed or electronic format.<br></p>
    </div>
    <div>
      <h1 id="he" class="he">3. Disclaimer</h1>
      <p>All the materials on The Queue Platform ®’s Website are provided "as is". The Queue Platform ® makes no
        warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, The Queue
        Platform ® does not make
        any representations concerning the accuracy or reliability of the use of the materials on its Website or
        otherwise relating to such materials or any sites linked to this Website.<br></p>
    </div>
    <div>
      <h1 id="he" class="he">4. Limitations</h1>
      <p>The Queue Platform ® or its suppliers will not be hold accountable for any damages that will arise with the use
        or inability to use the materials on The Queue Platform ®’s Website, even if The Queue Platform ® or an
        authorize representative
        of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does
        not allow limitations on implied warranties or limitations of liability for incidental damages, these
        limitations may not
        apply to you.</p>
    </div>
    <div>
      <h1 id="he" class="he">5. Revisions and Errata</h1>
      <p>The materials appearing on The Queue Platform ®’s Website may include technical, typographical, or photographic
        errors. The Queue Platform ® will not promise that any of the materials in this Website are accurate, complete,
        or current.
        The Queue Platform ® may change the materials contained on its Website at any time without notice. The Queue
        Platform ® does not make any commitment to update the materials.</p>
    </div>
    <div>
      <h1 id="he" class="he">6. Links</h1>
      <p>The Queue Platform ® has not reviewed all of the sites linked to its Website and is not responsible for the
        contents of any such linked site. The presence of any link does not imply endorsement by The Queue Platform ® of
        the site. The
        use of any linked website is at the user’s own risk.<br></p>
    </div>
    <div>
      <h1 id="he" class="he">7. Site Terms of Use Modifications</h1>
      <p>The Queue Platform ® may revise these Terms of Use for its Website at any time without prior notice. By using
        this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use</p>
    </div>
    <div>
      <h1 id="he" class="he">8. Your Privacy</h1>
      <p>Please read our Privacy Policy</p>
    </div>
    <div>
      <h1 id="he" class="he">9. Governing Law</h1>
      <p>Any claim related to The Queue Platform ®'s Website shall be governed by the laws of in without regards to its
        conflict of law provisions</p>
    </div>
  </div>
</div>
