
<header
  style="height: 734.333px;background: url(../../../assets/img/Thur.svg?h=97ff7ef5c26dcede6be4ced87b308b3d) center / cover no-repeat;margin: 0px;">
  <div class="container" style="margin-top: 0px;">
    <div class="d-flex flex-column justify-content-center">
      <div class="text-center all"><img data-aos="fade-up" class="pic"
                                        src="../../../assets/img/eastwood-coming-soon.png?h=201f367ccc7370e1010bfc8c7242084e"
                                        style="font-size: 17px;"></div>
      <div>
        <h1 class="text-capitalize text-center" data-aos="fade-up">Hate Queuing or Waiting?</h1>
        <p class="text-center" data-aos="fade-up">The Queue is platform which reserve your place at queue where you want
          to queuing or waiting. Save your time from waiting in queue and do workout, play with your children, do
          meditation, do your submission.&nbsp;</p>
      </div>
      <div class="text-center" data-aos="fade-up"><a class="btn btn-primary text-uppercase border rounded border-dark"
                                                     role="button"
                                                     style="margin: 0px;margin-left: 10px;background-color: rgb(0,0,0);border-style: none;padding: 16px 32px;"
                                                     routerLink="/login" routerLinkActive="true">Log in</a><a
        class="btn btn-primary text-uppercase border rounded border-dark"
        role="button"
        style="margin: 0px;margin-left: 10px;background-color: rgb(0,0,0);border-style: none;padding: 16px 32px;"
        routerLink="/index/register" routerLinkActive="true">Register</a></div>
    </div>
  </div>
</header>
<!-- Start: Contact Form Clean -->
<div id="notified" class="contact-clean" style="background-color: rgb(247,247,247);height: 734.333px;">
  <div class="container">
    <div class="d-flex flex-column justify-content-center">
      <div class="text-center all"><img data-aos="fade" data-aos-duration="750" data-aos-delay="50" class="pic"
                                        src="../../../assets/img/wfh_5.svg?h=ea7a19ff2892f8fa235f07e299b3df7e"
                                        style="font-size: 17px;"></div>
      <div>
        <h1 class="text-capitalize text-center" data-aos="fade" data-aos-duration="750" data-aos-delay="50">get notified
          before your turn</h1>
        <p class="text-center" data-aos="fade" data-aos-duration="750" data-aos-delay="50">You will get notified before
          your position in queue comes in service. So fell free about your position and be productive, work-oriented or
          health-oriented.&nbsp;</p>
      </div>
      <div class="text-center"></div>
    </div>
  </div>
</div>
<!-- End: Contact Form Clean -->
<header id="social-distance"
        style="height: 734.333px;background: url(../../../assets/img/Reuss.svg?h=d793f6d896b668be71d77fe0828a15d3) center / cover no-repeat;">
  <div class="container">
    <div class="d-flex flex-column justify-content-center">
      <div class="text-center all"><img data-aos="fade" data-aos-duration="750" data-aos-delay="100" class="pic"
                                        src="../../../assets/img/wfh_1.svg?h=d5ec76fea30b0f05f0f25492e30a149d"
                                        style="font-size: 17px;"></div>
      <div>
        <h1 class="text-capitalize text-center" data-aos="fade" data-aos-duration="750" data-aos-delay="100">maintain
          social distancing</h1>
        <p class="text-center" data-aos="fade" data-aos-duration="750" data-aos-delay="100">In this word of pandemic, We
          have to maintain social distancing to keep yourselves and your families safe and secure from what's coming. We
          ensure safety at your finger tips. We only let you wait in queue where social distancing is
          strictly followed and use of sanitizers. So, feel free.</p>
      </div>
      <div class="text-center"></div>
    </div>
  </div>
</header>
<!-- Start: Contact Form Clean -->
<div id="aboutus" class="contact-clean" style="background-color: rgb(247,247,247);height: 734.333px;">
  <div class="container">
    <div class="d-flex flex-column justify-content-center">
      <div class="text-center all"><img data-aos="fade" data-aos-delay="200" class="pic"
                                        src="../../../assets/img/wfh_7.svg?h=8946cb83cb7cd3a8f8d4865018c93ab1"
                                        style="font-size: 17px;"></div>
      <div>
        <h1 class="text-capitalize text-center" data-aos="fade" data-aos-delay="200" id="aboutus">We are your
          protector</h1>
        <p class="text-center" data-aos="fade" data-aos-delay="200">We are Ghost developers. We make product that can
          used to protect from real world problems and stand with the new era of emerging world. We make product with
          our fully heart to protect your privacy not to reveal at third party. So,
          let get dive into this world of wait.</p>
      </div>
      <div class="text-center"></div>
    </div>
  </div>
</div>
<!-- End: Contact Form Clean -->
<header id="idea"
        style="height: 734.333px;background: url(../../../assets/img/Kander.svg?h=5a6dbcb17e05fb0f8c4faa49ca8d332b) center / cover no-repeat;">
  <div class="container">
    <div class="d-flex flex-column justify-content-center">
      <div class="text-center all"><img data-aos="fade-up" data-aos-delay="250" class="pic"
                                        src="../../../assets/img/wfh_8.svg?h=cba198b86dd83fd2df277d842e623168"
                                        style="font-size: 17px;"></div>
      <div>
        <h1 class="text-capitalize text-center" data-aos="fade-up" data-aos-delay="250">Idea all the way</h1>
        <p class="text-center" data-aos="fade-up" data-aos-delay="250">We get ideas from our surrounding where people
          hate something to do and we turns that hate of people towards things into ease, love. We are ideas from you,
          Thank you people. The idea of queue emerges from pandemic of COVID-19, where
          people have to maintain social distancing and have to wait into queue of almost 5 km long to buy daily
          households. So, The Queue is small contribution towards people.</p>
      </div>
      <div class="text-center"></div>
    </div>
  </div>
</header>
<!-- Start: Login Form Clean -->
<div id="contactus" class="login-clean" style="background-color: rgb(247,247,247);color: rgb(0,0,0);">
  <form data-aos="zoom-in" data-aos-duration="1300" data-aos-delay="200" id="contact" method="get"
        action="homepage.html">
    <h2 class="text-center">Contact us</h2>
    <div class="form-group">
      <p><strong>Name&nbsp;</strong><span class="text-danger">*</span></p><input class="form-control" type="text"
                                                                                 name="" placeholder="E.x. John"
                                                                                 required=""></div>
    <div class="form-group">
      <p><strong>Email&nbsp;</strong><span class="text-danger">*</span></p><input class="form-control" type="email"
                                                                                  name="" placeholder="user@domain.com"
                                                                                  required=""></div>
    <div class="form-group">
      <p><strong>Message&nbsp;</strong><span class="text-danger">*</span></p><textarea
      class="border rounded form-control" name="message" placeholder="Message" rows="14" required="" spellcheck="true"
      style="height: 100px;"></textarea></div>
    <div
      class="form-group">
      <button class="btn btn-primary btn-block text-uppercase border rounded border-dark" type="submit"
              style="border-style: none;background-color: rgb(0,0,0);font-size: 16px;">send
      </button>
    </div>
  </form>
</div>
<!-- End: Login Form Clean -->

