
<h1 id="scroll-to-top"></h1>
<div
  style="background: url(&quot;assets/img/Taieri.svg?h=163fd19d9c8d684c5492ac111914bed4&quot;) center / cover no-repeat;padding: 85px 0px;">
  <div class="container">
    <h1 style="padding: 0px;padding-top: 32px;padding-bottom: 18px;">Get listed on The Queue Platform</h1>
    <div>
      <h1 id="he" class="he">1. Prerequisite documents</h1>
      <p>You would need to upload legal proof of your shop, organization or complex before submitting to The Queue
        Platform. This process only to ensure that you are not doing illegal activities with the use of The Queue
        Platform.</p>
    </div>
    <div>
      <h1 id="he" class="he">2. Submit partner registration form</h1>
      <p>You have to fill partner registration form to get listed on The Queue Platform and display your queue. You have
        to visit&nbsp;<a routerLink="/merchant/partner" routerLinkActive="true" target="_blank">this page&nbsp;</a>and fill the details about
        yourself and your
        shop. If you unable to register at given website then you can mail us your details at mail
        partnerwithus@queue.com or direct message us at twitter handle @thequeue, instagram handle "thequeue".</p>
    </div>
    <div>
      <h1 id="he" class="he">3. The Queue calls back</h1>
      <p>If everything seems correct about your registration details, then you get call back or email to get more
        details about your shop. Our Queue representative should directly call back and discuss about default money and
        some paperwork.</p>
    </div>
    <div>
      <h1 id="he" class="he">4. Yeah! You are listed on The Queue</h1>
      <p>You are listed on The Queue Platform.&nbsp;</p>
    </div>
  </div>
</div>
